.container{
    display: flex;
    background-color: red;
    width: 25em;
    margin: 1em;
    padding: 2em;
    border-radius: 1.5em;
}
.App{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.btn-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width: 75%;
}
.btn-container-operators{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width: 25%;
}
.number-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.special-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.number-btn{
    display: flex;
    flex-wrap: wrap;
    width: 2em;
    height: 2em;
    padding: 1em;
    border-radius:1em;
}
.special-btn{
    display: flex;
    /* flex-wrap: wrap; */
    width: 2em;
    height: 2em;
    border-radius:1em;
}
.operator-btn{
    display: flex;
    flex-wrap: wrap;
    width: 2em;
    height: 2em;
    border-radius:1em;
}